@import "./index.css";

header {
  background: #eeeeee;
}
.navbar a {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: darkseagreen;
}
.navbar .login-btn {
  font-size: 14px;
  overflow: hidden;
  font-family: "Playfair Display SC", serif;
  font-weight: 600;
  color: #030637;
}

.post-pal-container {
  background: url(https://res.cloudinary.com/dwc1sjsvj/image/upload/v1748695976/r5surxaavjplcqj9udff.png)
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-pal-container h1 {
  font-family: "Leckerli One", cursive;
}
.post-pal-container {
  font-family: var(--font-family-sansista);
}

.post-pal-container form label p {
  font-family: var(--font-family-sansista);
  color: black;
}

.post-pal-hero-bg {
  background: url(https://res.cloudinary.com/dwc1sjsvj/image/upload/v1749060870/dbcly6wzzd5sseohtcyu.jpg)
    center center no-repeat;
  background-size: cover;
  min-height: 350px;
  height: 100%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

.post-pal-container main {
  background-color: rgba(255, 255, 255, 0.79);
}

.post-pal-reply {
  img {
    max-width: 350px;
    width: 100%;
    max-height: 350px;
    height: auto;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}
